


<ion-view>
    <ion-nav-title>
        <img src="/img/Munchi.png" height="25px;">
    </ion-nav-title>
    <ion-content>        
    <div class="list">
        <a class="item item-thumbnail-left" href="#">
          <img src="/img/coffee.jpg">
          <h2>{{coffee.name}}</h2>
          <p>{{coffee.summary}}</p>
        </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="/img/ramen.jpeg">
      <h2>{{ramen.name}}</h2>
      <p>{{ramen.summary}}</p>
    </a>
    </div>

    </ion-content>
</ion-view>



